<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
   
        <title>
         PHP UPLOADER
        </title>

    </head>
    <body class="bg-gray-300" >

        <div class="m-auto w-full xl:max-w-screen-xl min-h-screen">

            <header class="flex bg-green-600 font-sans justify-between  text-white mb-2 p-4 w-full sticky top-0 shadow">

                <a href="/" class="text-left text-xl lg:text-2xl xl:text-3xl">PHP UPLOADER </a>
                <a href="https://telegram.me/m_mahdihajizadeh" class="bg-transparent hover:bg-blue-500 text-white font-semibold hover:text-white py-2 px-4 border border-white hover:border-transparent rounded">Programming by: m.mahdihajizadeh</a>
                {% if otg %}
                    <a title="m.mahdihajizadeh" href="/otg" class="text-xl lg:text-2xl xl:text-3xl"> m.mahdihajizadeh </a>
                {% endif %}
            </header>
